.slider-multiple {
  display: grid;
  grid-template-rows: max-content max-content;
  
  &__container {
    display: grid;
    position: relative;
    grid-template-rows: max-content;

    > .slider:not(:last-child) {
      position: absolute;
      top: 0;

      .slider__reference {
        background-color: transparent;
      }
      .ticks {
        display: none;
      }
    }
  }

  .slider input[type="range"],
  .slider.vertical input[type="range"][orient="vertical"] {
    &::-webkit-slider-runnable-track {
      background: transparent;
    }
    &::-moz-range-track {
      background: transparent;
    }
  }
}