$input-height: 22px;

$thumb-size: 16px;
$thumb-color: var(--color-dark);
$thumb-color--disabled: #888;

$track-color: #ccc;
$track-color--limited: #888;
$track-height: calc($thumb-size / 4);

$thumb-adjust: calc(($thumb-size / 2) - ($track-height / 2));

@mixin thumb {
  height: $thumb-size;
  width: $thumb-size;   
  border-radius: 50%; 
  background-color: $thumb-color;
  z-index: 100;
  pointer-events: all;
  cursor: pointer;
}

@mixin thumb-focus {
  border: 1px solid #1aaed3;
  outline: 2px solid #1aaed3;
  outline-offset: 0.1rem;
}

@mixin track {
  background: transparent;
  height: $track-height;
  border-radius: calc($track-height / 2);
  z-index: 50;
}

@mixin track--vertical {
  @include track();
  width: $track-height;
  height: auto;
}


.slider {
  display: grid;
  width: 100%;
  grid-template: 
      "label" max-content
      "inputs" max-content
      "ticks" max-content / 1fr;

  label {
    margin-bottom: 5px;
  }

  &__inputs {
    position: relative;
    pointer-events: none;
  }

  &__clickable {
    @include thumb();
    position: absolute;
    left: 0;
    top: $thumb-adjust;
    background-color: transparent;
    z-index: 100;
    cursor: pointer;
  }
  
  &.reverse .slider__inputs {
    transform: rotateY(180deg);
  }
  
  .ticks {
    display: flex;
    z-index: 90;

    .o_txt {
      flex: 1;
      text-align: center;
      font-size: 12px;
      position: relative;

      &::before {
        content: "|";
        position: absolute;
        pointer-events: none;
        color: var(--color-dark);
        opacity: 0.5;
        left: calc(50% - .15em);
        bottom: 100%;
        z-index: 90;
      }
      &.long::before {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  input[type="range"] {
    height: $input-height;
    accent-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    pointer-events: none;
    margin: 0;
    background: transparent;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: calc(($input-height / 2) -  ($track-height / 2));
      right: 0;
      left: 0;
      background: $track-color;
      height: $track-height;
      border-radius: calc($track-height / 2);
      pointer-events: none;
      z-index: 0;
    }

    &::-webkit-slider-runnable-track {
      @include track();
    }
  
    &::-moz-range-track {
      @include track();
    }
  
    &::-webkit-slider-thumb {
      @include thumb();
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: calc($thumb-adjust * -1); /* Centers thumb on the track */
    }
  
    &::-moz-range-thumb {
      @include thumb();
      border: none; /* Removes extra border that FF applies */
      border-radius: 0; /* Removes default border-radius that FF applies */
    }
  }

  &.vertical {
    grid-template: 
      "label  label" auto
      "inputs ticks" var(--height) / $input-height max-content;

    .slider {
      &__clickable {
        left: $thumb-adjust;
        top: $thumb-adjust;
      }
      &__inputs {
        transform-origin: center center;
        transform: rotate(270deg);
        width: var(--height);
      }
    }
    &.reverse {
      .slider__inputs {
        transform: 
          rotate(270deg)
          rotateY(180deg);
      }
    }

    .ticks {
      flex-direction: column-reverse;
      align-self: stretch;

      .o_txt {
        text-align: left;
        display: grid;
        align-items: center;
        padding-left: 5px;
  
        &::before {
          transform-origin: center;
          right: 100%;
          bottom: auto;
          transform: 
            rotate(90deg)
            translateY($thumb-adjust + $thumb-size);
          padding-right: .15em;
        }
      }
    }
  }

  &.reverse {
    .ticks {
      flex-direction: row-reverse;
    }
    &.vertical .ticks {
      flex-direction: column;
    }
  }

  input[type="range"] {
    &:focus {
      outline: none;
  
      &::-webkit-slider-thumb {
        @include thumb-focus();
      }
      &::-moz-range-thumb {
        @include thumb-focus();
      }
    }
    &.limited {     
      &::-webkit-slider-runnable-track {
        background: $track-color--limited;
      }
  
      &::-moz-range-track {
        background: $track-color--limited;
      }
    }
    &[disabled] {
      &::-webkit-slider-thumb {
        @include thumb();
        background-color: $thumb-color--disabled;
      }
  
      &::-moz-range-thumb {
        @include thumb();
        background-color: $thumb-color--disabled;
      }
    }
  }
}