.slider-multiple {
  display: grid;
  grid-template-rows: max-content max-content;
  
  &__container {
    display: grid;
    position: relative;
    grid-template-rows: max-content;

    > .slider:not(:first-child) {
      position: absolute;
      top: 0;

      input[type="range"]::before {
        background: transparent;
      }
      .ticks {
        display: none;
      }
    }
    .slider {
      pointer-events: none;
  
      input[type="range"],
      &.reverse input[type="range"],
      &.vertical input[type="range"][orient="vertical"],
      &.vertical.reverse input[type="range"][orient="vertical"] {
        &::-webkit-slider-runnable-track {
          background: transparent;
        }
        &::-moz-range-track {
          background: transparent;
        }
      }
    }
  }
}