:root {
  --color-dark: rgb(49, 49, 49);
  font-size: 14px;
}

body {
  // background-color: #6B1F7A;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 10px;
}

.center {
  text-align: center;
}