:root {
  --color-dark: rgb(49, 49, 49);
  --color-purple: rgb(123, 97, 255);
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Fabriga Regular', Inter, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  width: 10px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1, h2, h3, h4 {
  margin: 0
}

a {
  text-decoration: none;
}

.warning-icon {
  cursor: help;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 10px;
}

.center {
  text-align: center;
}